@media only screen
and (min-width : 800px)
{

    div {
        width: 800px;
        margin: auto;
    }


    section, aside {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 50%;
        height: 380px;
        box-sizing: border-box;
    }

    section:first-child {
        width: 100%;
        background-color: #f5e7cd;
        color: #171315;
    }

    section:first-child h1 {
        color: #9b1f1c;
        margin: 0;
    }

}