@media only screen
and (min-width : 300px)
{

    div {
        width: 800px;
        margin: auto;
    }


    section, aside {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 50%;
        height: 380px;
        box-sizing: border-box;
    }

    aside {
        font-size: 0.5em;
        line-height: normal;
        color: #171315;
        background-color: #f5e7cd;
        width: 100%;
    }

    section:first-child {
        width: 100%;
        background-color: #f5e7cd;
        color: #171315;
        height: 300px;
        min-height: 300px;
        padding-bottom: 20px;
    }

    section:first-child h1 {
        color: #9b1f1c;
        margin: 0;
    }

}